.calendar {
    float: left;
    width: 50%;
    padding: 20px;
    background-color: #f9f9f9;
    box-shadow: 0 2px 5px rgba(0, 0, 0, 0.1);
    margin-top: 20px;
  }
  
  #calendar-container {
    text-align: center;
  }
  