body {
  font-family: 'Roboto', sans-serif;
  margin: 0;
  padding: 0;
  background-color: #f9f9f9;
}

main {
  margin-left: 240px;
  padding: 20px;
}

h2 {
  font-weight: 500;
}

p {
  font-weight: 400;
}
